<div class="shop-section">
  <!-- start -->
  <div class="shop-hero">
    <h1 class="pageName">
      المتجر
    </h1>
  </div>
  <!-- end -->
  <!-- start -->
  <div class="products container">
<div class="my-cards">
  <div class="my-card" *ngFor="let product of products">
    <!-- <a [routerLink]="['/details' , product.id ]"> -->
    <div class="card-img">
      <img src="./../../../assets/imgs/testProd.jpg" alt="">
      <!-- <i class="fa-brands fa-whatsapp"></i> -->
    </div>
    <div class="card-content">
      <h2 class="mt-3">
        لوريم إيبسوم
      </h2>
      <div class="price">
        3000 ريال سعودي
      </div>
    </div>
    <!-- </a> -->
  </div>
</div>
  </div>
  <!-- end -->
</div>
