/* start */
.upload-img-label {
  position: relative;
  border: .3rem dashed var(--line-color);
  border-radius: 1rem;
}

.upload-img-btn {
  background-color: var(--sec-color);
  width: 49%;
}

.creat-offer-form input,
.form-floating {
  margin-bottom: 1rem;
}

.price input
{
 text-align: end;
}

.add-offer-btn {
  background-color: var(--sec-color);
}

.price {
  color: var(--Third-color);
}

.btn {
  background-color: var(--Third-color);
  color: white;
}

.offer-img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  width: 100%;
}

.card {
  max-height: 500px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.card-img-top {
  max-width: 150px;
  max-height: 150px;
}
/* end */
/* media query */
@media screen and (width < 746px){
  .add-prod{
    flex-direction: column;
  }
  .add-prod .col-5,.add-prod .col-6{
    width: 90% !important;
  }
  .td{
    background-color: aqua !important;
  }
}
