<div class="details-section">
  <div class="details container">
    <div class="product-img">
      <img src="./../../../assets/imgs/testProd.jpg" alt="">
    </div>
    <div class="product-details">
      <!-- <h2 class="name">{{product?.name}}</h2> -->
      <!-- <p>{{product?.description}} -->
      <!-- </p> -->
      <p class="price">
        <!-- {{product?.price}} ريال سعودي -->
      </p>
      <p class="pt-0">
         <!-- الوزن : {{product?.wheight}}kg -->
      </p>
    </div>
  </div>
  <div class="title">
    <i class="fa-regular fa-star"></i>
    <i class="fa-regular fa-star"></i>
    <i class="fa-regular fa-star"></i>
    <span>شاهد ايضا</span>
    <i class="fa-regular fa-star"></i>
    <i class="fa-regular fa-star"></i>
    <i class="fa-regular fa-star"></i>
  </div>
    <!-- start -->
    <div class="products container">
      <div class="my-cards">
        <div class="my-card">
          <div class="card-img">
            <img src="./../../../assets/imgs/testProd.jpg" alt="">
            <!-- <i class="fa-brands fa-whatsapp"></i> -->
          </div>
          <div class="card-content">
            <h2>
              لوريم إيبسوم
            </h2>
            <div class="price">
              3000 ريال سعودي
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- end -->
</div>
